{% extends "jobPortalApp/base.html" %}
{% load static %}
{% block content%}
<body class="flex flex-col bg-very-pale-blue">
    <nav class="flex-shrink-0 flex justify-between items-center bg-white py-[15px] pl-[150px] pr-[50px]">
        <a href="../home">
            <img src="{% static 'images/logo-blue.png' %}" alt="" class="w-[120px] h-[25px]">
        </a>
        <div x-data="{ show: false }" class="relative">
            <div class="inline-flex items-center gap-x-2">
                <div class="flex flex-col items-end">
                    {% if not provider_name and not  seeker_name%}
                    <span>Not Set</span>
                    {% elif  provider_name %}
                    <span>{{provider_name.name}}</span>
                    {% elif seeker_name.fullname %}
                    <span>{{seeker_name.fullname}}</span>
                    {% endif%}
                    <span class="text-xs font-light">{{user_type}}</span>
                </div>
                <img src="{% static 'images/profile.svg' %}" alt="" class="w-[36px] h-[36px]" @click="show = ! show">
            </div>
            <div x-show="show"
                class="absolute bg-white p-[12px] right-0 w-[120px] rounded-[4px] shadow-[0_0_40px_0_rgba(0,0,0,0.1)]">
                <a href="../profile"
                    class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                    Profile
                </a>
                <a id="logout-btn" class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                    Logout
                </a>
            </div>
        </div>
    </nav>
    <main class="flex flex-col gap-y-[44px] flex-grow px-[200px] py-[60px]">
        <div id="logout-div" style="display: none;">
            <h3>Are you sure about that?</h3>
            <a href="../logout"><button class="btn-outline">Yes</button></a>
            <button class="btn-outline" id="close-logout">No</button>
        </div>
        <section class="flex-grow flex flex-col gap-y-[55px] bg-white min-h-[400px] p-[36px]">
            <div class="flex flex-col items-start mx-auto w-max gap-y-[8px]">
                <form action="../job-search/" method="POST">
                    {% csrf_token %}
                <div class="flex gap-x-[18px]">
                    {% if job_search %}
                    <input type="search" name="job-search" id="job-search" value="{{job_search}}" class="input-1px w-[530px]">
                    {% else %}
                    <input type="search" name="job-search" id="job-search" placeholder="Search" class="input-1px w-[530px]">
                    {% endif %}
                    <button class="btn" type="submit">Search</button>
                </div>
                <div class="flex gap-x-[18px]">
                    <div class="flex flex-col gap-y-[5px]">
                        <span class="label">Country</span>
                    {% if job_country %}
                    <select name="job-country" id="job-country" class="select-2 w-[200px]"  onchange="countyChoice()">
                        <option value="{{job_country}}" selected hidden>{{job_country}}</option>
                        <option class="country" value="China">China</option>
                        <option class="country" value="Russia">Russia</option>
                        <option class="country" value="South Korea">South Korea</option>
                        <option class="country" value="Japan">Japan</option>
                    </select>
                    {% else %}
                    <select name="job-country" id="job-country" class="select-2 w-[200px]"  onchange="countyChoice()">
                        <option value="" disabled selected hidden>Select Country</option>
                        <option class="country" value="China">China</option>
                        <option class="country" value="Russia">Russia</option>
                        <option class="country" value="South Korea">South Korea</option>
                        <option class="country" value="Japan">Japan</option>
                    </select>
                    {% endif %}
                        
                    </div>
                    <div class="flex flex-col gap-y-[5px]">
                        <span class="label">City</span>
                        {% if job_city %}
                        <select name="job-city" id="job-city" class="select-2 w-[200px]">
                            <option value="{{job_city}}" selected hidden>{{job_city}}</option>
                            <option class="China" value="Beijing" style="display: block;">Beijing</option>
                            <option class="China" value="Macau" style="display: block;">Macau</option>
                            <option class="Japan" value="Inuyama" style="display: block;">Inuyama</option>
                            <option class="Japan" value="Toyota" style="display: block;">Toyota</option>
                            <option class="Russia" value="Abakan" style="display: block;">Abakan</option>
                            <option class="Russia" value="Beslan" style="display: block;">Beslan</option>
                            <option class="South Korea" value="Seoul" style="display: block;">Seoul</option>
                            <option class="South Korea" value="Busan" style="display: block;">Busan</option>
                        </select>
                        {% else %}
                        <select name="job-city" id="job-city" class="select-2 w-[200px]">
                            <option value="" disabled selected hidden>Select City</option>
                            <option class="China" value="Beijing" style="display: block;">Beijing</option>
                            <option class="China" value="Macau" style="display: block;">Macau</option>
                            <option class="Japan" value="Inuyama" style="display: block;">Inuyama</option>
                            <option class="Japan" value="Toyota" style="display: block;">Toyota</option>
                            <option class="Russia" value="Abakan" style="display: block;">Abakan</option>
                            <option class="Russia" value="Beslan" style="display: block;">Beslan</option>
                            <option class="South Korea" value="Seoul" style="display: block;">Seoul</option>
                            <option class="South Korea" value="Busan" style="display: block;">Busan</option>
                        </select>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-[5px]">
                        <span class="label">Job Type</span>
                        {% if job_type %}
                        <select name="job-type" id="job-type" class="select-2 w-[200px]">
                            <option value="{{job_type}}" selected hidden>{{job_type}}</option>
                            <option value="Full-time job" >Full-time job</option>
                            <option value="Part-time job" >Part-time job</option>
                        </select>
                        {% else %}
                        <select name="job-type" id="job-type" class="select-2 w-[200px]">
                            <option value="" disabled selected hidden>Select Job Type</option>
                            <option value="Full-time job" >Full-time job</option>
                            <option value="Part-time job" >Part-time job</option>
                        </select>
                        {% endif %}
                    </div>
                </div>
                </form>
            </div>
            <div class="flex flex-col gap-y-[32px]">
                {% if searcher %}
                <div class="text-[22px] font-semibold italic">Search Results for {{searcher}}</div>
                {% endif %}
                <div class="flex flex-col gap-y-[32px] px-[70px]">
                    {% for job in jobs %}
                        {% for jo in job %} 
                            
                                <div class="flex flex-col p-[23px] shadow-[0_0_20px_0_rgba(24,47,67,0.2)] rounded-[6px]">
                                    <div class="flex justify-between">
                                        <div class="flex items-center gap-x-[18px] text-xs font-light uppercase">
                                            <span>posted on</span>
                                            <span>{{jo.created_at|date:"M d, Y"}}</span>
                                        </div>
                                        <div class="flex items-center gap-x-[7px]">
                                            <span class="text-xs font-light">Applicants:</span>
                                            <span class="text-[22px] font-semibold italic">5</span>
                                        </div>
                                    </div>
                                    <div class="flex flex-col gap-y-[12px] mt-[14px]">
                                        <div class="flex items-center gap-x-[14px]">
                                            <div class="text-[22px] font-semibold italic">
                                                {{jo.name}}
                                            </div>
                                            <div class="flex items-center gap-x-[8px]">
                                                {% for keys,values in skillnames_per_jobs.items%}
                                                    {% if keys ==  jo.id %}
                                                        {% for value in values%}
                                                        <div class="pill">{{value}}</div>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor%}
                                            </div>
                                        </div>
                                        <div class="font-light">
                                            {{jo.description}}
                                        </div>
                                    </div>
                                    <div class="flex justify-between mt-[28px]">
                                        <div class="text-lg font-semibold">{{jo.salary}}</div>
                                        <form action="../../home/view-post/" id="view-post{{jo.id}}" method="POST">
                                            {% csrf_token %}
                                            <input type="text" name="job-id" value="{{jo.id}}" style="display: none;">
                                        </form>
                                        <button type="submit" form="view-post{{jo.id}}" class="flex items-center gap-x-2">
                                            <span class="uppercase text-sm font-light">view posting</span>
                                            <span><img src="assets/chevron-right.svg" alt=""></span>
                                        </button>
                                    </div>
                                </div>
                        {% endfor%}
                    {% endfor%}
                </div>
            </div>
        </section>
    </main>
</body>
<script>
    logout_open = document.getElementById('logout-btn');
    logout_close = document.getElementById('close-logout');

    logout_open.onclick = function() {
        document.getElementById('logout-div').style.display = "Block";
        };
    logout_close.onclick = function() {
        document.getElementById('logout-div').style.display = "None";
        };
    function countyChoice() {
        d = document.getElementById("job-country").value;
            var items2 = document.getElementsByClassName('country');
            for (var i=0; i < items2.length; i++) {
                if (items2[i].value != d){
                    var items3 = document.getElementsByClassName(items2[i].value);
                    for (var j=0; j < items3.length; j++) {
                        items3[j].style.display = "none";
                    }
                }
            }
            
            var items = document.getElementsByClassName(d);
            for (var i=0; i < items.length; i++) {
                items[i].style.display = "block";
            }
    }
    
</script>
{% endblock content%}