<!-- text 1 -->
<input type="text" placeholder="Username"
    class="text-sm font-light text-dark-blue placeholder-light-grayish-blue py-[13px] px-[16px] rounded-md border-[2px] border-light-grayish-blue focus:outline-none focus:border-slightly-desaturated-blue">

<!-- text 2 -->
<input type="text" placeholder="Username"
    class="text-sm font-light text-dark-blue placeholder-light-grayish-blue py-[13px] px-[16px] rounded-md border border-light-grayish-blue focus:outline-none focus:border-slightly-desaturated-blue">

<!-- textarea -->
<textarea name="*" id="*" cols="30" rows="10" placeholder="Description"
    class="text-sm font-light text-dark-blue placeholder-light-grayish-blue py-[12px] px-[20px] rounded-md border border-light-grayish-blue focus:outline-none focus:border-slightly-desaturated-blue"></textarea>

<!-- label -->
<label for="*" class="text-sm font-light text-dark-moderate-blue">Name</label>

<!-- select 1 -->
<select name="type"
    class="text-sm text-dark-blue rounded-md border-[2px] py-[13px] px-[16px] border-light-grayish-blue focus:outline-none focus:border-slightly-desaturated-blue">
    <option value="1">Yes</option>
</select>

<!-- select 2 -->
<select name="type"
    class="text-sm text-dark-blue rounded-md border py-[13px] px-[16px] border-light-grayish-blue focus:outline-none focus:border-slightly-desaturated-blue">
    <option value="1">Yes</option>
</select>

<!-- button -->
<button class="font-light text-white bg-vivid-blue rounded-md border border-vivid-blue py-[10px] px-[16px]">
    Register
</button>

<!-- button icon left -->
<button
    class="flex items-center gap-x-2 font-light text-white bg-vivid-blue rounded-md border border-vivid-blue py-[10px] px-[16px]">
    <span>
        <img src="assets/add.svg">
    </span>
    <span>Setup Information</span>
</button>

<!-- button outline -->
<button class="font-light text-vivid-blue bg-transparent rounded-md border border-vivid-blue py-[10px] px-[16px]">
    Edit
</button>

<!-- button no outline -->
<button class="text-sm text-vivid-blue bg-transparent rounded-md border border-transparent py-[10px] px-[16px]">
    Edit
</button>

<!-- pill -->
<span
    class="text-sm text-vivid-blue font-light rounded-3xl bg-lighter-grayish-blue px-[20px] py-[4px]">Javascript</span>

<!-- link right -->
<a href="#" class="flex items-center gap-x-2">
    <span class="uppercase text-sm font-light">view posting</span>
    <span><img src="assets/chevron-right.svg" alt=""></span>
</a>

<!-- link left -->
<a href="#" class="flex items-center gap-x-2">
    <span><img src="assets/chevron-left.svg" alt=""></span>
    <span class="uppercase text-sm font-light">view posting</span>
</a>

<!-- file input -->
<input type="file"
    class="file:font-light file:text-white file:bg-vivid-blue file:rounded-md file:border file:border-vivid-blue file:py-[10px] file:drop-shadow-none" />

<!-- job card -->
<div class="flex flex-col p-[23px] shadow-[0_0_20px_0_rgba(24,47,67,0.2)] rounded-[6px]">
    <div class="flex justify-between">
        <div class="flex items-center gap-x-[18px] text-xs font-light uppercase">
            <span>posted on</span>
            <span>mar 13 2020</span>
        </div>
        <div class="flex items-center gap-x-[7px]">
            <span class="text-xs font-light">Applicants:</span>
            <span class="text-[22px] font-semibold italic">5</span>
        </div>
    </div>
    <div class="flex flex-col gap-y-[12px] mt-[14px]">
        <div class="flex items-center gap-x-[14px]">
            <div class="text-[22px] font-semibold italic">
                Junior Software Engineer
            </div>
            <div class="flex items-center gap-x-[8px]">
                <div class="pill">Javascript</div>
                <div class="pill">React</div>
            </div>
        </div>
        <div class="font-light">
            Vel nihil cumque quos dolorem culpa. Deleniti officiis et et quisquam voluptas.
            Asperiores error eum saepe qui omnis at
            velit […]
        </div>
    </div>
    <div class="flex justify-between mt-[28px]">
        <div class="text-lg font-semibold">$18,000</div>
        <a href="#" class="flex items-center gap-x-2">
            <span class="uppercase text-sm font-light">view posting</span>
            <span><img src="assets/chevron-right.svg" alt=""></span>
        </a>
    </div>
</div>

<!-- seeker card -->
<div class="flex justify-between items-center p-[23px] shadow-[0_0_20px_0_rgba(24,47,67,0.2)] rounded-[6px]">
    <div class="flex flex-col gap-x-[14px]">
        <div class="text-[22px] font-semibold italic">
            Timothy Ryeyn Perez
        </div>
        <div class="flex items-center gap-x-[18px] text-xs font-light uppercase">
            <span>posted on</span>
            <span>mar 13 2020</span>
        </div>
    </div>
    <div>
        <a href="#" class="flex items-center gap-x-2">
            <span class="uppercase text-sm font-light">view profile</span>
            <span><img src="assets/chevron-right.svg" alt=""></span>
        </a>
    </div>
</div>
